.c-dropdown{
    display: none;
    position: absolute;
    max-height: 15rem;
    max-width: 100%;
    overflow: auto;
    transition: 60ms;
    border-radius: 3px;
    box-shadow: 0 5px 8px rgb(0 0 6 / 28%);
    z-index: 999;
}
.c-dropdown .list{
    cursor: pointer;
    background-color: #f2f1ff;
}

.c-dropdown .list:hover {
    background-color: #c3bff1;
}


#date-filter,
#distributor-filter,
#p-type,
#download-file-type{
    outline: none !important;
    border: none !important;
}


.reportNavbar{
    background-color: rgba(4, 76, 157, 0.1);
    padding: 12px 24px;
}

#dtPickerDiv{
    width: 25%;
    top: 13rem;
    left: 1rem;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.table thead th {
    font-size: 15px;
    font-weight: 600;
    color: #044c9d;
}
.table tbody td{
    font-size: 14px;
    /* font-weight: 600; */
}

@media screen and (max-width:768px) {
    #dtPickerDiv{
        width: 75%;
    }
}