body {
  color: #000;
  background-color: #fff;
  width: 20cm;
  margin: auto;
  padding: 0;

  overflow-x: hidden;
  font-size: 14px;
}

.lab-name {
  margin-top: -1rem;
  margin-right: 2rem;
  margin-bottom: 6px;
  color: #183697;
  text-align: end;
}
.lab-tag {
  display: flex;
  justify-content: right;
  align-items: center;
}

.lab-tag span {
  margin-right: 2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(24, 54, 151, 1) 28%
  );
  padding: 8px 4px;
  width: 347px;
  color: #fff;
  text-align: end;
} */
/*
.lab-address {
  color: #183697;
  margin-top: 10px;
  text-align: center;
}

.lab-address p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.patient-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 14px;
}
.patient-info p{
  margin: 4px;
}
.report-area{
  width: 80%;
  margin: auto;
}

.report-area h5{
  text-align: center;
  font-size: 1rem;
  margin: 10px auto;
}

.report-area table{
  width: 100%;
}

.report-area table td{
  padding-bottom: 10px;
}

.report-area .test-name{
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}
.report-area .test-name small{
  font-weight: 200;
}

.report-area .test-value{
  text-align: right;
  vertical-align: baseline;
}

.footer-info {
  display: flex;
  margin-top: 6px;
  justify-content: space-around;
}

.footer-info p{
  margin: 4px 0;
}
.verified-by {
  text-align: end;
}

.printButton {
  align-items: center;
  text-align: center;
}

/* ======================================================== */
@media print {
  @page {
    margin: 0;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .printButton {
    display: none;
  }
}