td a{
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}
.booked_btn{
    display: inline-flex;
    justify-content: space-between;
}
.booked_btn button{
    padding: 6px 20px;
}
.booked_btn button i{
    margin: 5px;
    font-size: 15px;
}
.booked_btn a{
    text-decoration: none;
    color: white;
}