.border-info:hover {
    background: #36b9cc!important;
    color: #FFFFFF!important;
}

.card img {
    width: 100%;
    /* height: 12rem; */
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.card img:hover {
    transform: scale(1.1); 
}
.prodcut-search{
    outline: none !important;
    /* border: none !important; */
    box-shadow: none !important;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 2px;
}